 body{
     background-color: aquamarine;
 }
 
 ul li{
    display: inline-block;
}

#primercaja{
    width: 1024px;
    height: 100px;
    background-color: blueviolet;
    
}
.tit2 {
    display: inline-block;
    position: relative;
    right: 50px;
    display: :inline-block;
   
}

#cajamenu{
    width: 1024px;
    height: 200px;
    background-color: burlywood;
}
